.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background-color: #fff;
  padding: 20px 40px 0px 20px;
  border-radius: 8px;
  width: 450px;
  height: 670px;
  position: relative;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  font-family: sans-serif;
}

.closeIcon {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 1.25rem;
  background-color: #fff;
  border: 2px solid red;
  border-radius: 50%;
  cursor: pointer;
  width: 25px;
  height: 25px;
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabHeader {
  display: flex;
  justify-content: space-around;
  margin-bottom: 16px;
}

.tab {
  padding: 8px 8px;
  background-color: #eee;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.activeTab {
  padding: 8px 16px;
  background-color: #10b981;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}